@font-face {
    font-family: "Gotham";
    src: url('fonts/GothamMedium.ttf');
    font-weight:normal;
    font-style:normal;
}

html {
    --color-text: hsl(210, 10%, 62%);
    --background-color: #121212;
}

body {
    margin:0;
    padding:0;
}

html { 
    background: url("wallpaperflare.com_wallpaper.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

html,
body,
label,
input,
button {
    font-family: "Gotham";
    color:var(--color-text);
}

.container {
    display:flex;
}

.left {
    width:30vw;
    position:relative;
}

.right {
    width:70vw;
    height:100vh;
    background-color:var(--background-color);
}

.logo {
    background-color: rgba(211,211,211,0.2);
    text-align: center;
    margin-top:25vh;
    padding:30px;
    font-size:50px;
    font-weight:900;
    color:white;
}

.right {
    display:flex;
    flex-direction: column;
}

.header {
    display:flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top:8em;
    margin-bottom:2em;
    width: 35em;
    gap:2em;
}

.forms {
    display:flex;
}

.leftcolumn > div {
    display:flex;
    flex-direction: column;
}

.rightcolumn > div {
    display:flex;
    flex-direction: column;
}
