@font-face {
    font-family: "Gotham";
    src: url('fonts/GothamMedium.ttf');
    font-weight:normal;
    font-style:normal;
}

html {
    --color-text: hsl(210, 10%, 62%);
    --background-color: rgb(19, 23, 28);
}

body {
    margin:0;
    padding:0;
}

html { 
    background: url("wallpaperflare.com_wallpaper.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

html,
body,
label,
input,
button {
    font-family: "Gotham";
    color:var(--color-text);
}

.container {
    display:flex;
}

.left {
    width:30vw;
    position:relative;
}

.right {
    height:100vh;
    background-color:var(--background-color);
    display:flex;
    flex-direction: column;
}

.logo {
    background-color: rgba(211,211,211,0.2);
    text-align: center;
    margin-top:25vh;
    padding:30px;
    font-weight:900;
    color:white;
    font-size:3vw;
}

.header {
    display:flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right:100px;
    margin-top:8em;
    margin-bottom:2em;
    width: 35em;
    gap:2em;
}

.forms {
    display:flex;
    margin:0;
    flex-wrap:wrap;
    gap:2em;
}

.leftcolumn > div {
    display:flex;
    flex-direction: column;
    width:15em;
}

.rightcolumn > div {
    display:flex;
    flex-direction: column;
    width:15em;
}

fieldset {
    border: none;
    margin:0;
    padding:0;
}

.background {
    background-color: 	#2a2a2e;
    padding-top:1.5em;
    padding-bottom:1.5em;
}

legend,
.forms,
.verify {
    padding-left: 50px;
}

legend {
    padding-bottom:1em;
}

.forms > div {
    display:flex;
    flex-direction: column;
    gap:30px;
}

input {
    background-color: #2a2a2e;
    border:none;
    border-bottom:solid black;
}

.verify {
    padding:50px;
}

button {
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
    background-color: rgb(6, 170, 94);
    color:white;
    border:none;
    border-radius:5px;
}

.verify > div {
    margin-top:20px;
}

a {
    color:rgb(6, 170, 94);
}

input:invalid,
input:focus:invalid {
    border-bottom: solid #b92326;
}

input:valid,
input:focus:valid {
    border-bottom: solid rgb(6, 170, 94);
}

input:placeholder-shown,
input:focus:placeholder-shown {
    border-bottom:solid black;
}

div > label {
    margin-bottom:15px;
}

.header > div {
    overflow-wrap:break-word;
}