@font-face {
    font-family: "Gotham";
    src: url('fonts/GothamMedium.ttf');
    font-weight:normal;
    font-style:normal;
}

html {
    --color-text: hsl(210, 10%, 62%);
    --background-color: #121212;
}

body {
    margin:0;
    padding:0;
}

html { 
    background: url("wallpaperflare.com_wallpaper.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

html,
body,
label,
input,
button {
    font-family: "Gotham";
    color:var(--color-text);
}

.container {
    display:flex;
}

.left {
    width:30vw;
}

.right {
    width:70vw;
    height:100vh;
    background-color:var(--background-color);
}

